<hr> 
{{#if currentUser}}
<h5>Hello {{currentUser.name}}!</h5> 
<h5>You are logged in!</h5>
{{else}}
<h5>Hello, who are you?  Sign in!</h5>
{{/if}}
<hr> 
<h2>Nodemailer</h2>
<h4>is a module for Node.js applications to allow easy as cake email sending. </h4>
<a href="https://nodemailer.com/about/">https://nodemailer.com/about/</a>
<p>npm i nodemailer</p>
<p>check the settings of the email account</p>
<a href="https://www.google.com/settings/security/lesssecureapps">https://www.google.com/settings/security/lesssecureapps</a>
<hr> 

<h2>Connect-flash</h2>
<h4>The flash is a special area of the session used for storing messages. Messages are written to the flash and cleared after being displayed to the user. </h4>
<a href="https://www.npmjs.com/package/connect-flash">https://www.npmjs.com/package/connect-flash</a>
<p> npm install connect-flash<p>
<hr> 

<h2>Toast</h2>
<h4>Toasts are lightweight notifications designed to mimic the push notifications that have been popularized by mobile and desktop operating systems. They’re built with flexbox, so they’re easy to align and position.</h4>
<a href="https://getbootstrap.com/docs/4.3/components/toasts/">https://getbootstrap.com/docs/4.3/components/toasts/</a>
<p></p>
<hr> 
